*{
  margin: 100;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.content {
  margin: 100px;
}

form {
  background:none;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
select,
textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 8px 0;
  border: 2px solid #6d83e2;
  border-radius: 45px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin-right: 5px;
}

input[type="submit"] {
  background-color: #0D6EFD;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
}
.button{
  margin-right: auto;
  margin-left: auto;

}

input[type="submit"]:hover {
    background-color:#fff;
    color:#0D6EFD;
}

















body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#8460ed,#e61e53);
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color: red;
    user-select: none;
     
}
img{
  height: 100px;
  width: 100px;
  user-select: none;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
}